{% macro section(sectionList, hNumber) %}
    <ul>
    {% for sectionO in sectionList %}
        <li>
            <h{{ hNumber }} id="{{ sectionO.name }}">{{ sectionO.name }}</h{{ hNumber }}>
            {% if sectionO.sectionList|length > 0 %}
                {% import _self as self %}
                {{ self.section(sectionO.sectionList, (hNumber + 1)) }}
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endmacro %}