{% macro section(menuSection, currency, hNumber) %}
    {# @var menuSection \App\DTO\MenuSection[]|null #}
    <ul>
    {% for section in menuSection %}
        {# @var section \App\DTO\MenuSection #}
        <li>
            <h{{ hNumber }} id="{{ section.formattedName }}">{{ section.name }}
                {% if section.price %}
                    <span>{{ section.price }}</span> <span>{{ currency }}</span>
                {% endif %}
            </h{{ hNumber }}>
            <p>{{ section.description }}</p>
            {% import _self as self %}
            {{ self.section(section.hasMenuSection, currency, (hNumber + 1)) }}
            <ul>
                {% for menuItem in section.hasMenuItem %}
                    <li>
                        {% include 'menu/dish.html.twig' %}
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
{% endmacro %}