{% extends "base.html.twig" %}

{% import "macroHtmlMenu.html.twig" as macroHtmlMenu %}
{% import "macroJsonMenu.json.twig" as macroJsonMenu %}

{% block title %}{{ restaurant.name }} - {{ restaurant.hasMenu.name}}{% endblock %}

{% block body %}
    <nav>
        Sommaire
        <ul>
        {% for menuSection in restaurant.hasMenu.hasMenuSection %}
            <li><a href="#{{ menuSection.name }}"> {{ menuSection.name }} </a></li>
        {% endfor %}
        </ul>
    </nav>
    <div>
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
    <h1>{{ restaurant.hasMenu.name }}</h1>
    <div>
    {{ macroHtmlMenu.section(restaurant.hasMenu.hasMenuSection, 1) }}
    </div>
{% endblock %}

{% block javascripts %}
<script type="application/ld+json">
{
    "@context":"http://schema.org",
    "@type":"Restaurant",
    "url":"http://www.somerestaurant.com",
    "name":"Some Restaurant",
    "hasMenu":{
        "@type":"Menu",
        {% if restaurant.hasMenu.hasMenuSection|length > 0 %}
        "hasMenuSection": [{{ macroJsonMenu.sectionJsonLd(restaurant.hasMenu.hasMenuSection) }}]
        {% endif %}
    }
}
</script>
{% endblock %}


