{% extends "base.html.twig" %}


{% import "macroHtmlMenu.html.twig" as macroHtmlMenu %}
{#
{% import "macroJsonMenu.json.twig" as macroJsonMenu %}
#}
{% block title %}{{ restaurant.name }} - {{ menu.name}}{% endblock %}

{% block body %}
    <h1>{{ restaurant.name }}</h1>
    <a href="{{ path('menu_list', {'restaurantName': restaurant.urlSlug|url_encode}) }}">{% trans %}menus{% endtrans %}</a>
    <nav>
        Sommaire
        <ul>
            {% for menuSection in menu.menuSections %}
                <li><a href="#{{ menuSection.name|url_encode }}"> {{ menuSection.name }} </a></li>
            {% endfor %}
        </ul>
    </nav>
    <div>
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
    <h1>{{ menu.name }}</h1>
    <div>
         {{ macroHtmlMenu.section(menu.menuSections, restaurant.currency, 2) }}
    </div>
{% endblock %}

{#

{% block javascripts %}
    <script type="application/ld+json">
{
    "@context":"http://schema.org",
    "@type":"Restaurant",
    "url":"http://www.somerestaurant.com",
    "name":"Some Restaurant",
    "hasMenu":{
        "@type":"Menu",
        {% if restaurant.hasMenu[0].hasMenuSection|length > 0 %}
        "hasMenuSection": [{{ macroJsonMenu.sectionJsonLd(restaurant.hasMenu[0].hasMenuSection) }}]
        {% endif %}
    }
}
</script>
{% endblock %}

#}