{# menuItem \App\Entity\MenuItem #}
{# section \App\Entity\MenuSection #}
<div>
    <div>{{ menuItem.name }}</div>
    {% if menuItem.price %}
        {% if section.displayCurrencySymbolOnChildren == true %}
            <span>{{ menuItem.price|format_currency(currency, {fraction_digit: 2}) }}</span>
        {% else %}
            <span>{{ menuItem.price|format_number }}</span>
        {% endif %}
    {% endif %}
    <div>{{ menuItem.description }}</div>
    <div>
        <h6>DEBUG : Allergens</h6>
        <ul>
            {% for tag in menuItem.allergens %}
                {# tag \App\Entity\MenuItemTag #}
                <li>{{ tag.name }}</li>
            {% endfor %}
        </ul>
        <h6>DEBUG : Diets</h6>
        <ul>
            {% for tag in menuItem.diets %}
                {# tag \App\Entity\MenuItemTag #}
                <li>{{ tag.name }}</li>
            {% endfor %}
        </ul>
        <h6>DEBUG : Labels</h6>
        <ul>
            {% for tag in menuItem.labels %}
                {# tag \App\Entity\MenuItemTag #}
                <li>{{ tag.name }}</li>
            {% endfor %}
        </ul>
    </div>
</div>